@{
    ViewData["Title"] = "گزارش تلاش سوالات امنیتی";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h4 class="fw-bold mb-3">گزارش تلاش پاسخ به سوالات امنیتی</h4>

    <div class="card">
        <div class="card-body">

            <table id="tblSecurityQuestions"
                   class="table table-bordered table-striped w-100">
                <thead>
                    <tr>
                        <th data-data="username">نام کاربری</th>
                        <th data-data="isSuccessful">وضعیت</th>
                        <th data-data="attemptCount">تعداد تلاش</th>
                        <th data-data="ipAddress">IP</th>
                        <th data-data="attemptDate">تاریخ</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/areas/project/loginattempt/loginattempts.js"></script>
}
