@{
    ViewData["Title"] = "تغییر اجباری رمز عبور";
}

<div class="card mt-5 mx-auto" style="max-width:400px">
    <div class="card-body">
        <h4 class="text-center mb-3">تغییر رمز عبور</h4>

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }

        <form method="post">
            <div class="mb-3">
                <label class="form-label">رمز جدید</label>
                <input type="password" name="NewPassword" class="form-control" required minlength="6" />
            </div>

            <button class="btn btn-primary w-100">ثبت رمز جدید</button>
        </form>
    </div>
</div>
